<h2>Song</h2>

<p>Song title = <%= @song.title %></p>
<p>Album this song is on = <%= @song.album %> </p>
<p>Artist = <%= @artist.name %></p>


<p><a href ="/songs/<%= @song.id %>/edit">Edit this Song</a></p>
<p><a href ="/songs">Back to the main SONG page</a></p>
