<h2>Edit Instructor</h2>

<form action="/instructors/<%= @instructor.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>First Name</label>
  <input type="text" name="instructor[first_name]" value="<%= @instructor.first_name %>">

  <label>Last Name</label>
  <input type="text" name="instructor[last_name]"  value="<%= @instructor.last_name %>">

  <label>Age</label>
  <input type="number" name="instructor[age]" value="<%= @instructor.age %>">

  <button type="submit">Submit</button>
</form>
