<h2>Single Instructor View</h2>

<%= @instructor.first_name + " " + @instructor.last_name %>

<form action="/instructors/<%= @instructor.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Instructor</button>
</form>
