<h2>New Artist</h2>

<form action="/artists" method="post" >
  <label>Name:</label>
  <input name="artist[name]">

  <label>Photo url</label>
  <input name="artist[photo_url]">

  <label>Nationality:</label>
  <input name="artist[nationality]">

  <input type="submit" value="Add New">
</form>
<p><a href="/artists"> Back to the artist page</a></p>
