<h2> All Artists</h2>

<p>Artist name = <%= @artist.name %></p>
<p>Artist nationality = <%= @artist.nationality %></p>
<img src =""



<p><a href ="/artists/<%= @artist.id %>/edit">Edit this Artist</a></p>
<p><a href ="/artists">Back to the main page</a></p>
